.AboutUs {
    padding: 196px 0;
    position: relative;

    .container {
        display: flex;
        align-items: flex-start;

    }

    &-imgpa {
        position: absolute;
        bottom: 180px;
        right: 168px;

        padding: 54px 116px 31px 74px;

    }

    &-color {
        background: linear-gradient(180deg, #D31212 0%, #613636 100%);
        opacity: 0.8;
        filter: blur(250px);
        position: absolute;
        top: 0;
        left: -210px;
        z-index: 0;
        width: 484px;
        height: 478px;
    }

    &-left {
        width: 100%;
        max-width: 915px;
    }

    &-title {
        font-family: 'Laviossa RUS';
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 117.2%;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &-text {
        font-family: 'Laviossa RUS';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 170%;
        color: #EAE9E9;
    }
}