.hero {
    padding-top: 215px;
    padding-bottom: 191px;
    color: white;
    background-image: url('../../assets/images/Maskgroup.svg');
    background-repeat: no-repeat;
    background-position: top 70px right 222px;

    &-wrap {

        width: 100%;
        max-width: 1040px;
        margin: 0 auto;
    }

    &-title {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        font-family: 'Laviossa RUS';
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 117.2%;

        text-align: center;

        background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &-text {
        font-family: 'Laviossa RUS';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 158.7%;
        text-align: center;
        color: #EAE9E9;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }

    &-btn {
        text-align: center;

    }


}

.btn {
    font-family: 'Laviossa RUS';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 158.7%;
    text-align: center;
    color: #FFFFFF;

    background: linear-gradient(87.05deg, #F4013D 17.99%, #F0073E 43%, #F1013B 68.01%, #D90E3C 93.02%);
    box-shadow: 0px 3px 49px -3px rgba(226, 72, 72, 0.76), inset 0px -4px 0px #8F1919;
    border-radius: 20px;
    padding: 35px 68px;
    margin-right: 20px;


    &:hover {
        opacity: .8;
    }

    &:active {
        opacity: 1;
    }
}

.btn2 {
    font-family: 'Laviossa RUS';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 158.7%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 35px 68px;
    border: 4px solid red;
    background-color: transparent !important;

    &:hover {
        background: linear-gradient(87.05deg, #F4013D 17.99%, #F0073E 43%, #F1013B 68.01%, #D90E3C 93.02%);

    }

    &:active {
        background: transparent !important;
    }
}